.themeToggleButton {
  border: none;
  padding: 0.5em;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: medium;
}

.themeToggleButton:hover {
  background-color: var(--secondary-color);
}
